body {
	font-family: 'Montserrat', sans-serif;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
}
.cd-hero {
  z-index: 2;
  position: relative;
  /* -moz-osx-font-smoothing: grayscale; */
  /* -webkit-font-smoothing: antialiased; */
}
.cd-slider-nav {
  text-align: center;
}
.cd-slider-nav ul {
  padding: 0;
  margin: 0;
}

.cd-slider-nav ul li {
  display: inline-block;
  margin: 40px 40px;
}

.cd-slider-nav ul li h6 {
  font-size: 13px;
  text-align: center;
  color: white;
  margin-top: 15px;
}

.cd-slider-nav ul li img {

  margin-top: 20px;
}
.cd-slider-nav ul .selected h6 {
  color: #ffbb05;

}

.cd-slider-nav .image-icon {
  /* margin: 0 auto; */
  display: inline-block;
	/* margin-bottom: 15px; */
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
	/* padding: 0px; */
  /* margin: 0px; */
  background-color: #ffbb05;
}

.cd-slider-nav .image-icon:hover {
  background-color: #fff;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

footer {
  background-color: #ffbb05;
  position: relative;
  width: 100%;
  bottom: 0;
  z-index: 2;
  margin-top: -1px;
}
footer p {
  font-size: 13px;
  color: #343434;
  margin: 0px;
  padding: 15px 0px;
  text-align: center;
  font-weight: 400;
}
.heading {
  text-align: center;
  margin-bottom:70px;
}

.heading h1 {
  /* margin-top: 30px; */
  font-size: 38px;
  color: #fff;
  font-weight: 900;
	letter-spacing: 2px;
}

.heading span {
	margin-top: 30px;
  font-size: 16px;
  color: #ffbb05;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.content {
	text-align: center;
	width: 90%;
	margin-left: 5%;
  margin-bottom: 100px;
  margin-top: 0px;
  background-color: #fff;
  border-top: 15px solid #ffbb05;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.first-content h4 {
  font-size: 19px;
  color: #121212;
  letter-spacing: 1px;
}

.first-content {
  padding: 60px 0px;
}

.first-content p {
  margin: 0px 120px;
}

.first-content .primary-button {
  margin-top: 30px;
}
  .first-content h4 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .first-content p {
    margin: 0px 30px;
  }
	.primary-button button {
	  display: inline-block;
	  background-color: #ffbb05;
	  color: #ffffff;
	  font-size: 13px;
	  padding: 12px 18px;
	  border-radius: 3px;
	  text-decoration: none;
	 border: 1px solid #ffbb05
	}

	.primary-button button:hover {
	  background-color: transparent;
		border: 1px solid #ffbb05;
		color: #000000;
	}

	.tot
	{
		display: inline;
	}
.left-info
{
	width: 40%;
	float: left;
}

.right-info
{
	width:60%;
	margin-left: 40%;
}
.upper-form
{
	display: inline;
}

.left-form
{
	width: 50%;
	float: left;

	/* padding: 2%; */
}
.left-form input
{
	width:90%;
	display: inline-block;
	background-color:black;
	color:#ffbb05;
	font-size: 13px;
	padding: 12px 18px;
	border-radius: 3px;
 border: 1px solid black;
}
.right-form
{
	width:50%;
	float: left;
	/* padding: 2%; */
}
.right-form input
{
	width:90%;
	display: inline-block;
	background-color:black;
	color:#ffbb05;
	font-size: 13px;
	padding: 12px 18px;
	border-radius: 3px;
 border: 1px solid black;
}
.bottom-form {width:100%;display: inline;}
.bottom-form .bt
{
	width: 100%;
}
.bottom-form .bt textarea{
	margin: 10px;
	width: 95%;
	display: inline-block;
	background-color:black;
	color:#ffbb05;
	font-size: 13px;
	padding: 12px 18px;
	border-radius: 3px;
 border: 1px solid black;
}
